body{
    width: 1600px;
}
.Banner{
    position: relative;
    text-align: center;
    color: aliceblue;
}
.banner-text{
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text1{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    font-size: 50px;
}
h1{
    font-size: 80px;
}
.dicount{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.HOLIDAY-DEALS{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.CATEGORIES{
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.New-Year-Photo{
    margin-left: 25%;
}