body {
    width: 1600px;
    margin: 0px;
    padding: 0px;
}

.Banner {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.banner-text {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text1 {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 50px;
}

h1 {
    font-size: 80px;
}

.dicount65 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.HOLIDAY-DEALS {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.CATEGORIES {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.New-Year-Photo {
    margin-left: 25%;
}

.welcome-Banner {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.Welcome-Banner-pic {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}

.Welcome-Banner-pic1 {
    position: absolute;
    margin-left: 1000px;
    margin-top: 150px;
}

.Welcome {
    position: absolute;
    margin-top: 80px;
    margin-left: 226px;
    color: aliceblue;
}

.Welcome-text {
    position: absolute;
    margin-top: 220px;
    margin-left: 230px;
    color: aliceblue;
}

.Welcome-text1 {
    position: absolute;
    margin-top: 320px;
    margin-left: 230px;
    color: aliceblue;
    font-size: 30px;
}

.Place-section {
    width: 1300px;
    height: 260px;
    background-color: antiquewhite;
    position: relative;
    margin-top: 750px;
    margin-left: 100px;
    padding: 20px;
    margin-bottom: 20px;
}

.Place {
    position: absolute;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 45%;
}

.Place-span {
    color: #F00;
}

.Date-span {
    color: #F00;
}

.Date {
    position: absolute;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 42%;
}

.time-span {
    color: #F00;
}

.time {
    position: absolute;
    font-size: 20px;
    margin-top: 170px;
    margin-left: 41%;
}

.button {
    color: aliceblue;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: #F00;
    border: none;
    position: absolute;
    font-size: 20px;
    margin-top: 230px;
    margin-left: 48%;
    border-radius: 5px;
}

.Coming-Soon {
    display: flex;
    width: 1600px;
    height: 335px;
    position: relative;
    background-color: aliceblue;
}

.best-offer {
    position: absolute;
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.coming-soon1 {
    position: absolute;
    font-size: 30px;
    margin-left: 120px;
    margin-top: px;
}

.coming-soon2 {
    position: absolute;
    margin-left: 120px;
    margin-top: 60px;
}

.circel {
    position: absolute;
    border-radius: 100%;
    border-color: red;
    background-color: #F00;
    width: 260px;
    height: 260px;
    margin-left: 550px;
}

.circel-img {
    position: absolute;
    margin-left: 565px;
    margin-top: 15px;
    width: 230px;
    height: 230px;
}

.circel-right {
    position: absolute;
    margin-left: 1100px;
    color: #F00;
    margin-top: 0;
}

.circel-right-text {
    position: absolute;
    margin-left: 1100px;
    margin-top: 100px;
}

.circel-right-pic {
    position: absolute;
    margin-left: 1120px;
    margin-top: 160px;
}

.holidy-group {
    position: relative;
    text-align: center;
}

.holiday-span {
    color: #F00;
}

.dicount {
    position: relative;
    text-align: center;
    display: flex;
}

.discount-footer {
    background-color: #F00;
    width: 1320px;
    height: 229px;
    margin-left: 40px;
    margin-top: 432px;
}

.discount-img1 {
    position: absolute;
    margin-bottom: 300px;
}

.discount-img3 {
    position: absolute;
    margin-left: 930px;
}

.discount-img2 {
    margin-left: 760px;
    position: absolute;
}

.GIFTS {
    position: relative;
    text-align: left;
    margin-left: 50px;
}

.BEST-GIFTS {
    color: #F00;
}

.Gallery {
    position: relative;
    margin-left: 50px;
}

.Subscribe {
    position: relative;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    text-align: center;
}

.Subscribe-pic1 {
    position: absolute;
    margin-top: 50px;
}

.Subscribe-text1 {
    position: absolute;
    margin-top: 200px;
    margin-left: 280px;
}

.Subscribe-text2 {
    position: absolute;
    margin-top: 300px;
    margin-left: 330px;
}

.Subscribe-button {
    position: absolute;
    margin-top: 500px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #F00;
    background-color: none;
}

.form {
    position: relative;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}
.footer{
    position: relative;
    width: 1600px;
height: 609px;
flex-shrink: 0;
background: #070211;
color: #FFF;
}
.footer-text1{
    position: absolute;
    display: flex;
}
.footer-text2{
    position: absolute;
    text-align: right;
    margin-left: 1200px;
}
.footer-text3{
    position: absolute;
    text-align: right;
    margin-left: 1200px;
    margin-top: 50px;
}
.slogo{
    position: absolute;
    margin-top: 200px;
    margin-left: 600px;
}
.All-Rights{
    position: absolute;
    margin-top: 550px;
}
.Unsubscribe{
    position: absolute;
    margin-top: 550px;
    margin-left: 1200px; 
}