body {
    width: 1600px;
    margin: 0px;
    padding: 0px;
}

.Banner {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.banner-text {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text1 {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 50px;
}

h1 {
    font-size: 80px;
}

.dicount {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.HOLIDAY-DEALS {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.CATEGORIES {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.New-Year-Photo {
    margin-left: 25%;
}

.welcome-Banner {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.Welcome-Banner-pic {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}
.Welcome-Banner-pic1{
    position: absolute;
    margin-left: 1000px;
    margin-top: 180px;
    }

.Welcome {
    position: absolute;
    margin-top: 80px;
    margin-left: 226px;
    color: aliceblue;
}

.Welcome-text {
    position: absolute;
    margin-top: 220px;
    margin-left: 230px;
    color: aliceblue;
}

.Welcome-text1 {
    position: absolute;
    margin-top: 320px;
    margin-left: 230px;
    color: aliceblue;
    font-size: 30px;
}

.Place-section {
    width: 1300px;
    height: 182px;
    background-color: antiquewhite;
    position: relative;
    margin-top: 750px;
    margin-left: 100px;
    padding: 20px;
}

.Place {
    position: absolute;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 45%;
}

.Place-span {
    color: #F00;
}

.Date-span {
    color: #F00;
}

.Date {
    position: absolute;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 42%;
}

.time-span {
    color: #F00;
}

.time {
    position: absolute;
    font-size: 20px;
    margin-top: 170px;
    margin-left: 41%;
}

.button {
    color: aliceblue;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: #F00;
    border: none;
    position: absolute;
    font-size: 20px;
    margin-top: 230px;
    margin-left: 48%;
    border-radius: 5px;
}